.footer {
    padding: $basic-padding*2 0;
    display: flex;
    justify-content: center;
}

@media(max-width: 375px) {
    .footer {
        justify-content: stretch;
    }

    .footer__button {
        flex-grow: 1;
    }
}