* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

body {
    font-family: $main-font;
    font-size: $font-size;
    background-color: $background-color;
}