.search {
    display: flex;
    align-items: center;
}

.search__input {
    flex-grow: 1;
    border: 2px solid #fff;
    background-color: #fff;
    padding: $basic-padding/2 0;
    margin:  $basic-margin/2 0;
    padding-left: $basic-padding/2;

    &:focus {
        outline: none;
        border-color: $active-color;
    }

    &:focus::placeholder {
        color: $active-color;
    }
}

.search__button {
    
    @media(min-width: 360px) {
        margin-top: 0;
        margin-left: $basic-margin;
    }
}