.search {
    display: flex;
    align-items: center;
}

.search__input {
    flex-grow: 1;
    border: 2px solid #fff;
    background-color: #fff;
    padding: $basic-padding/2 0;
    margin:  $basic-margin/2 0;
    margin-right: $basic-margin;
    padding-left: $basic-padding/2;

    &:focus {
        outline: none;
        border-color: $active-color;
    }

    &:focus::placeholder {
        color: $active-color;
    }
}

@media(max-width: 575px) {
    .search {
        margin-top: $basic-margin;
    }
}

@media(max-width: 375px) {
    .search {
        flex-direction: column;
        align-items: stretch;
        margin: $basic-margin 0; 
    }
    .search__input {
       margin-right: 0;
    }
}