.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $basic-padding 0;
}

.nav__logo-image {
    height: calc(#{$nav-height} - #{$basic-padding*2});
    width: auto;
    margin-left: -8px;
}

.nav__search {
    flex-basis: 60%;
}

@media(max-width: 575px) {
    .nav {
        flex-direction: column;
        align-items: stretch;
    }
}

@media(max-width: 375px) {
    .nav {
        align-items: stretch;
    }

    .nav__search {
        flex-basis: 100%;
    }
}

